body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

p {
	margin: 0 0 5px 0;
	padding: 0px;
}

h1 {
	margin: 0 0 5px 0;
	padding: 10px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
	color: #750a20;
}

h2 {
	margin: 0 0 10px 0;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
h3 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #750a20;
}

h4 {
	margin: 0 0 5px 0;
	padding: 2px 0;
	font-size: 16px;
	font-weight: bold;
	color: #750a20;
}

#container {
	margin: auto;
	width: 1000px;
}

#top_panel {
	float: left;
	width: 1000px;
	height: 100px;
	margin: 0px;
	color: #FFF;
	background: #003 url(images/top_panel_background.jpg) ;
}

#sitetitle {
	float: left;
	width: 300px;
	margin: 55px 0 0 15px;
	padding: 10px 0 5px 0;
	font-size: 35px;
	font-weight: bold;
	color: #FFF;
}

#searchbox {
	float: left;
	width: 320px;
	margin: 40px 0 0 15px;
}

#searchbox form {
	margin: 0px;
	padding: 0px;
}

#searchfield{
	background:#FFFFFF;
	border: none;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	height: 16px;
	line-height: normal;
	padding: 4px;
	width: 200px;
}


#searchbutton{
	background: url(images/search_button.gif); 
	border: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	margin: 0 0 0 7px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 66px;
}

*----------------------MENU----------------------*

#menu {
	float: left;
	width: 1000px;
	height: 30px;
	background: #750a20 url(images/menu_bg.gif) repeat-x;
	border-bottom: 1px solid #333;
}

#menu ul {
	float: left;
	width: 800px;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	float: left;
	padding: 0 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#menu li .current{
	color: #FFFF00;
}

#content {
	float: left;
	width: 1000px;
}

#main_leftcol {
	float: left;
	width: 630px;
	margin-top: 15px;
}

.leftcol_subcol {
	float: left;
	width: 285px;
	padding: 0 15px 0 0;
	margin-right: 15px;
}

#main_rightcol {
	float: right;
	margin-top: 15px;
	width: 370px;
}

* html #main_rightcol {
	margin-left: -15px;	
}

#topnews {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
}

#topnews img{
	margin-bottom: 5px;
}

#gallery_section {
	display: block;
	width: 278px;
	padding: 5px 0 5px 5px;
	margin-bottom: 25px;
	border: 1px solid #CCC;
}

#image_section {
	float: left;
	width: 278px;	
	padding-bottom: 5px;
}

#image_section img{
	float: left;
	margin: 0 3px 3px 0;
	border: none;
}

.regular_section {
	display: block;
	width: 285px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

.newsbox {
	clear: both;
	width: 285px;
	padding-bottom: 15px;
}


.newsbox img{
	float: left;
	margin: 0 5px 0 0;
	padding: 0px;
}

.newsbox .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}

.newsbox p{
	font-size: 11px;
}

.regular_section ul{
	clear: both;
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}

.regular_section li a{
	font-weight: bold;
}



#footer {
	clear: both;
	float: left;
	padding: 25px;
	width: 950px;
	color: #FFF;
	text-align: left;
	background: #333333;
}

.footer_leftcol {
	float: left;
	width: 400px;
	padding: 0 0 0 10px;
	margin-right: 25px;
}

.footer_rightcol {
	float: right;
	text-align: right;
	width: 435px;
	text-align: right;
}

.footer_subcol {
	float: left;
	width: 120px;
	margin-left: 25px;
}

#footer p{
	padding: 0;
	margin-bottom: 10px;	
	text-align: justify;
}

#footer a{
	color: #FFF;
	text-decoration: none;
}





