body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #333333;
}
p {
	margin: 0 0 5px 0;
	padding: 0px;
}

#container {
	margin: auto;
	width: 1000px;
}
#top_panel {
	float: left;
	width: 1000px;
	height: 100px;
	margin: 0px;
	color: #FFF;
	background: #003 url(images/top_panel_background.jpg) no-repeat;
}

#sitetitle {
	float: left;
	width: 300px;
	margin: 55px 0 0 15px;
	padding: 10px 0 5px 0;
	font-size: 35px;
	font-weight: bold;
	color: #FFF;
}
#menu {
	float: left;
	width: 1000px;
	height: 30px;
	background: #750a20 url(images/menu_bg.gif) repeat-x;
	border-bottom: 1px solid #333;
}

.leftcol_subcol {
	float: left;
	width: 285px;
	padding: 0 15px 0 0;
	margin-right: 15px;
}

.regular_section {
	display: block;
	width: 285px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #CCC;
}

.newsbox {
	clear: both;
	width: 285px;
	padding-bottom: 15px;
}

.newsbox .newstitle {
	font-size: 16px;
	color:#C00;
	font-weight: bold;
}

.newsbox p{
	font-size: 11px;
}

#footer {
	clear: both;
	float: left;
	padding: 25px;
	width: 950px;
	color: #FFF;
	text-align: left;
	background: #333333;
}

.footer_leftcol {
	float: left;
	width: 400px;
	padding: 0 0 0 10px;
	margin-right: 25px;
}

.footer_rightcol {
	float: right;
	text-align: right;
	width: 435px;
	text-align: right;
}

.footer_subcol {
	float: left;
	width: 120px;
	margin-left: 25px;
}


